#Amazon Web Services
AWS_ACCESS_KEY_ID=TU_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY
AWS_DEFAULT_REGION=TU_REGION

#OpenAI
OPENAI_API_KEY=_TU_API_KEY
OPENAI_MODEL=TU_MODELO

#S3
S3_BUCKET=INGRESA_BUCKET
S3_CUSTOMER_PATH=INGRESA_PATH

#Session Secret
SESSION_SECRET=REEMPLAZAR_CON_UN_SECRETO_ALEATORIO
COOKIE_SECURE=false